* {
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
}



nav {
    position: absolute;
    background-color: white;
    /* justify-content: space-between; */
    padding: 1rem 2rem;
}

nav * {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.flex {
    display: flex;
}

li {
    list-style: none;
}

/* INDEX */

.body-index {
    height: 100vh;
}

.image-wrapper-index {
    justify-content: center;
    align-items: center;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100vh;
}

.main-section-index {
    flex-direction: column;
}

/* INFO */
.main-section-info {
    padding: 4rem 2rem 2rem 2rem;

}

.first-col {
    width: 33%;
}

.middle-col {
    width: 29%;
}


.fadeIn {
    transition: all .3s;
}

.flex {
    background-color: #fff;
}
.flip {
    transform: rotateX(180deg);
} 